body {
	background-color:rgb(91, 6, 94)	
}

#banner {
	width: 98%;
}

h1 {
	text-align: center;	
}

p {
	text-align: center;	
}

#missao {
	font-size: 25px
}

em strong {
	color: #ffffff;
}
